@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #fce7f3; /* pink-100 */
}

h1,
.romantic-font {
  font-family: "Sacramento", cursive;
}
